.CreatePost-container {
    margin-bottom: 20px;
}

.CreatePost-hide {
    display: none;
}

.CreatePost-vidLinkPreview {
    border: 0;
}

.CreatePost-options {
    display: flex;
}

.CreatePost-option {
    text-align: center;
    color: var(--info-grey);
    background-color: var(--darkest-grey);
    padding: 10px;
    flex-grow: 1;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.1s;
}

.CreatePost-selected {
    color: white;
    background-color: var(--light-grey);
    font-weight: bold;
}

.CreatePost-file {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: var(--light-grey);
    line-height: 20px;

    transition: background-color 0.1s;
}
.CreatePost-fileIn {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.CreatePost-link {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: 0;
    font-size: 16px;
    line-height: 20px;
}
.CreatePost-link:invalid {
    color: var(--spritan-red);
}

.CreatePost-createTitle {
    text-align: center;
}

.CreatePost-mediaAll {
    width: 1200px;
    border-radius: 10px;
    overflow: clip;
    margin-right: 20px;

    transition: box-shadow 0.25s;
}
.CreatePost-mediaAllValid {
    box-shadow: 0 0 0 5px var(--spritan-gold);
}
.CreatePost-mediaAllInvalid {
    box-shadow: 0 0 0 5px var(--spritan-red);
}

.CreatePost-mediaContainer {
    position: initial;
    border-radius: 0;

    transition: background-color 0.25s;
}
.CreatePost-mediaContainerValid {
    background-color: var(--spritan-gold);
}
.CreatePost-mediaContainerInvalid {
    background-color: var(--spritan-red);
}

.CreatePost-previewContainer {
    width: 100%;
    height: 100%;
}

.CreatePost-imageContainer:hover {
    cursor: initial;
}

.CreatePost-videoElem {
    width: 100%;
    height: 100%;
}

.CreatePost-title {
    font-size: 24px;
    font-weight: 700;
    background-color: var(--lightest-grey);
    border: solid 5px var(--darkest-grey);
    border-radius: 10px 10px 0 0;
}
.CreatePost-title:valid {
    background-color: var(--darkest-grey);
    border-color: var(--darkest-grey);
}
.CreatePost-title:focus:required:valid {
    border-color: var(--spritan-gold);
}
.CreatePost-title:focus:required:invalid {
    border-color: var(--spritan-red);
}

.CreatePost-subtitle {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.CreatePost-body {
    resize: none;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border: solid 5px var(--lightest-grey);
    border-radius: 10px;
}
.CreatePost-body:focus:required:valid {
    border-color: var(--spritan-gold);
}
.CreatePost-body:focus:required:invalid {
    border-color: var(--spritan-red);
}

@media screen and (max-width: 1860px) {
    .CreatePost-mediaAll {
        width: 960px;
    }
}

@media screen and (max-width: 1620px) {
    .CreatePost-mediaAll {
        width: 800px;
    }
}

@media screen and (max-width: 1350px) {
    .CreatePost-mediaAll {
        width: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    .CreatePost-mediaAll {
        width: 100%;
        border-radius: 0;
    }

    .CreatePost-mediaContainer {
        position: relative;
    }

    .CreatePost-previewContainer {
        position: absolute;
    }

    .CreatePost-title {
        border-radius: 0;
    }
}

@media (hover: hover) {
    .CreatePost-option:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }

    .CreatePost-file:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }
}