.Reply {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 20px auto;
}

.Reply-expand {
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    background-color: var(--light-grey);
    color: white;
    line-height: 20px;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .Reply-expand:hover {
        background-color: var(--lightest-grey);
    }
}

.Reply-form {
    display: flex;
    height: 0px;
    overflow: hidden;
    background-color: var(--darkest-grey);

    transition: border-radius 0.5s, height 0.5s;
}
.Reply-form-open {
    height: 110px;
}
.Post .Reply {
    border-radius: 0;
    margin: 0;
}

.PostContainer > .Reply {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

.Reply-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 10px;
}

.Reply-text {
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    color: white;
    background-color: var(--darkest-grey);
}

.Reply-submit {
    width: 100px;
    border: none;

    transition: background-color 0.1s;
}

@media (hover: hover) {
    .Reply-submit:hover {
        cursor: pointer;
        background-color: var(--spritan-gold);
        color: black;
    }
}

@media screen and (max-width: 700px) {
    .Reply {
        padding: 0 10px;
    }

    .PostContainer-replies .Reply {
        padding: 0;
    }
}
