.AuditLog {
    color: white;
    background-color: var(--darkest-grey);
    border-radius: 10px;
    margin: 20px 20px;
}

.AuditLog-header {
    padding: 10px 20px;
    text-align: center;
}

.AuditLog-title {
    margin: 0;
}

.AuditLog-table {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    table-layout: fixed;
}

.AuditLog-th {
    position: sticky;
    top: 0;
    background-color: var(--darkest-grey);
    padding: 10px;
}
