.AuditLog {
    color: white;
    background-color: var(--darkest-grey);
}

.AuditLog-header {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--darkest-grey);
    z-index: 1;
    cursor: pointer;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AuditLog-title {
    margin: 0;
    line-height: 40px;
}

.AuditLog-table {
    width: 100%;
    border-radius: 10px;
    word-break: break-word;
}

.AuditLog-th {
    position: sticky;
    top: 60px;
    background-color: var(--light-grey);
    padding: 10px;
}

.AuditLog-load {
    border-radius: 0;
}

@media (hover: hover) {
    .AuditLog-header:hover {
        background-color: var(--lightest-grey);
    }
}
