.AuditItem {
    background-color: var(--dark-grey);

    transition: background-color 0.1s;
}
.AuditItem:nth-child(odd) {
    background-color: var(--mid-grey);
}
.AuditItem-yellow {
    border-left: solid 5px yellow;
}
.AuditItem-orange {
    border-left: solid 5px orange;
}
.AuditItem-red {
    border-left: solid 5px red;
}

.AuditItem-td {
    padding: 10px;
    vertical-align: top;
}

.AuditItem span {
    display: inline-block;
}

.AuditItem-admn {
    color: var(--spritan-red);
}

.AuditItem-ts {
    cursor: pointer;
    color: var(--info-grey);
    font-size: 0.9em;

    transition: color 0.1s;
}

@media screen and (max-width: 700px) {
    .AuditItem-action{
        line-height: 1.75;
    }
}

@media (hover: hover) {
    .AuditItem:hover {
        background-color: var(--lightest-grey);
    }

    .AuditItem-ts:hover {
        color: white;
    }
}