.AuditLog {
    color: white;
    background-color: var(--darkest-grey);
    border-radius: 10px;
    margin: 20px 20px;

    transition: margin 0.5s;
}

.AuditLog-header {
    padding: 10px 20px;
    text-align: center;
}

.AuditLog-title {
    margin: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AuditLog-table {
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    word-break: break-word;

    transition: padding 0.5s;
}

.AuditLog-th {
    position: sticky;
    top: 0;
    background-color: var(--light-grey);
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .AuditLog {
        margin: 0;
        border-radius: 0;
    }

    .AuditLog-table {
        padding: 0;
    }
}
