:root {
    --darkest-grey: #161616;
    --dark-grey: #262626;
    --mid-grey: #363636;
    --light-grey: #464646;
    --lightest-grey: #565656;

    --info-grey: rgb(196, 196, 196);

    --spritan-red: #ab0f26;
    --spritan-gold: #ffe289;
}

body {
    background: var(--dark-grey);
}

p {
    color: white;
}

::selection {
    background-color: var(--spritan-red);
    color: var(--spritan-gold);
}


.App {
    overflow-x: clip;
}

.Text-scrollBounce {
    --scroll-diff: 0px;
    --scroll-time: 0s;
    
    position: relative;
    left: var(--scroll-diff);
    transition: left var(--scroll-time) linear;
}