:root {
    --darkest-grey: #161616;
    --dark-grey: #262626;
    --mid-grey: #363636;
    --light-grey: #464646;
    --lightest-grey: #565656;

    --info-grey: rgb(196, 196, 196);

    --spritan-red: #ab0f26;
    --spritan-gold: #ffe289;
}

body {
    overflow-y: scroll;
    background: var(--dark-grey);
}

h1, h2, h3, p, label {
    color: white;
}

input, textarea {
    color: white;
    background-color: var(--lightest-grey);
}

::selection {
    background-color: var(--spritan-red);
    color: var(--spritan-gold);
}

.LoadingCover {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    transition: opacity 1s;
}
.LoadingCover-anim {
    pointer-events: auto;
    cursor: wait !important;
    opacity: 0.35;

    animation-name: submitting;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes submitting {
    0% { background-color: var(--spritan-gold); }
    100% { background-color: var(--spritan-red); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.App {
    overflow-x: clip;
}

.Text-scrollBounce {
    --scroll-diff: 0px;
    --scroll-time: 0s;
    
    position: relative;
    left: var(--scroll-diff);
    transition: left var(--scroll-time) linear;
}