.PostMain-controls {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.PostMain-arrowContainer {
    cursor: pointer;
    background-color: #ab0f26;
    width: 80px;
    height: 40px;
}

.PostMain-arrowL, .PostMain-arrowR {
    transition: transform 0.1s;
}
.PostMain-arrowContainer:active .PostMain-arrowL {
    transform: translate(-15px);
}
.PostMain-arrowContainer:active .PostMain-arrowR {
    transform: translate(15px);
}

.PostMain-update {
    width: 100%;
    height: 30px;
}

.PostMain-nodeContainer {
    overflow: visible;

    transition: transform 0.5s;
}

.PostMain-node {
    transition: fill 0.25s, r 0.25s;
}
.PostMain-nodeHit {
    cursor: pointer;
}
@media (hover: hover) {
    .PostMain-nodeHit:hover .PostMain-node {
        fill: red;
        r: 10px;
    }
}

.PostMain-post, .PostMain-video, .PostMain-imageContainer {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.PostMain-video {
    height: 675px;
    background-color: black;
}
.PostMain-video iframe {
    border: 0;
}

.PostMain-imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-height: 40vh;
    overflow: hidden;
    cursor: pointer;

    transition: background-color 0.5s;
}

.PostMain-img {
    max-width: 100%;
    margin: 15px;
}

.PostMain-gradientTop, .PostMain-gradientBot {
    position: absolute;
    width: 1200px;
    max-width: 100%;
    height: 40vh;
}
.PostMain-gradientTop {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0) 15px);
}
.PostMain-gradientBot {
    background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0, 0, 0, 0) 15px);
}

.PostMain-view {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 10px;

    animation: fadeout 0.5s 1s forwards;
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media screen and (max-width: 1200px) {
    .PostMain-video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    .PostMain-video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}