.PostContainer .Reply, .PostContainer .UpdatePost, .PostContainer-controls {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.PostContainer-reply-header {
    text-align: center;
    color: white;
}

.PostContainer-replies {
    height: 0px;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;

    transition: height 0.5s;
}

.PostContainer-load {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: var(--dark-grey);
    color: white;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .PostContainer-load:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }
}

.PostContainer-loaded {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: var(--info-grey);

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}