.PostModal {
    position: relative;
    z-index: 1;
    opacity: 0;

    transition: opacity 0.25s;
}

.PostModal-backing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.75;
}

.PostModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.PostModal-imageContainer {
    position: relative;
    margin: 15px;
    flex: 1;
}

.PostModal-img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.PostModal-imageControls {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.PostModal-imageButton {
    color: white;
    background-color: var(--light-grey);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .PostModal-imageButton:hover {
        color: black;
        background-color: var(--spritan-gold);
    }
}