.PostModal {
    position: relative;
    z-index: 2;
    opacity: 0;

    transition: opacity 0.25s;
}

.PostModal-backing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
}

.PostModal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.PostModal-imageContainer {
    position: relative;
    margin: 15px;
    flex: 1;
}

.PostModal-img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    transition: width 0.5s, height 0.5s;
}

.PostModal-imageControls {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    padding: 10px 0;
    width: max-content;
    margin: 0 auto;
}

.PostModal-imageButton {
    color: white;
    background-color: var(--light-grey);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.PostModal-iconWrapper {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.PostModal-close {
    transform-origin: center;
    filter: drop-shadow(0 3px 0 var(--darkest-grey));

    transition: stroke 0.1s, transform 0.1s;
}

@media (hover: hover) {
    .PostModal-imageButton:hover {
        color: black;
        background-color: var(--spritan-gold);
    }

    .PostModal-iconWrapper:hover .PostModal-close {
        stroke: var(--spritan-red);
        transform: scale(1.15);
    }

    .PostModal-iconWrapper:active .PostModal-close {
        transform: scale(0.85);
    }
}