.PostMain-controls {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.PostMain-arrow {
    cursor: pointer;
    text-align: center;
    background-color: lightgreen;
    padding: 10px 5px;
    flex-grow: 1;
}

.PostMain-post, .PostMain-video, .PostMain-imageContainer {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.PostMain-video {
    height: 675px;
    background-color: black;
}
.PostMain-video iframe {
    border: 0;
}

.PostMain-imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-height: 40vh;
    overflow: hidden;
    cursor: pointer;

    transition: background-color 0.5s;
}

.PostMain-img {
    max-width: 100%;
}

.PostMain-gradient {
    position: absolute;
    width: 1200px;
    max-width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0) 15% 85%, rgba(0,0,0,0.5));
}

.PostMain-view {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 10px;

    animation: fadeout 0.5s 1s forwards;
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media screen and (max-width: 1200px) {
    .PostMain-video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    .PostMain-video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}