.Post {
    border-left: thick solid var(--spritan-red);
    margin: 0 10px 50px 10px;
    border-radius: 5px;
    background-color: var(--mid-grey);
    padding: 5px;

    transition: border-radius 0.5s;
}

.Post-op {
    margin: 0;
    border-radius: 0;
    border-color: var(--spritan-gold);
}
@media screen and (max-width: 1200px) {
    .Post-op {
        border-radius: 0;
    }
}

.Post-replyop {
    border-color: var(--spritan-gold);
}
.Post-optag {
    font-size: 0.8em;
    color: var(--spritan-gold);
}

.Post-main {
    display: flex;
}

.Post-user {
    display: flex;
    align-items: center;
    border-right: solid grey;
    width: 200px;
}

.Post-user-img {
    width: 64px;
    height: 64px;
    border-radius: 32px;

    transition: filter 0.5s, border-radius 0.25s;
}
@media (hover: hover) {
    .Post-user-img:hover {
        cursor: pointer;
        border-radius: 10px;
        filter: brightness(1.1);
    }
}

.Post-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Post-body {
    flex-grow: 1;
}
.Post-bodyDel {
    font-style: italic;
    color: grey;
}

.Post-replies {
    height: 0px;
    overflow: hidden;

    transition: height 0.5s;
}

.Post-replies .Post {
    margin: 5px 0;
    border-radius: 0;
}

.Post-controls {
    display: flex;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.Post-load, .Post-collapse, .Post-gap {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 0;
    background-color: var(--dark-grey);
    color: white;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (hover: hover) {
    .Post-collapse:hover, .Post-load:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }
}

.Post-delete {
    width: 64px;
    text-align: center;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    margin-top: 10px;

    transition: color 0.1s, background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .Post-delete:hover {
        color: white;
        background-color: red;
    }
}


@media screen and (max-width: 900px) {
    .Post-main {
        flex-direction: column;
    }

    .Post-user {
        width: initial;
        border-right: none;
        border-bottom: solid grey;
    }
}