.Post {
    margin: 0 0 30px 0;
    border-radius: 10px;
    background-color: var(--mid-grey);
    overflow: hidden;

    transition: border-radius 0.5s;
}

.Post-optag {
    font-size: 0.9em;
    color: var(--spritan-gold);
}

.Post-main {
    display: flex;
    flex-direction: column;
}

.Post-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.Post-info {
    display: flex;
    align-items: center;
    margin: 10px 5px 0 5px;
    flex-wrap: wrap;
}

.Post-user {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    border-radius: 10px;
}

.Post-user-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;

    transition: filter 0.5s, border-radius 0.25s;
}

.Post-nickname {
    margin: 0 5px;
    font-weight: bold;
}

.Post-ts {
    color: var(--info-grey);
    font-size: 0.9em;
    margin: 11px 0 10px 0;

    transition: color 0.1s;
}

.Post-body {
    margin: 10px;
}
.Post-bodyDel {
    font-style: italic;
    color: var(--info-grey);
    font-size: 0.9em;
}

.Post-replies {
    height: 0px;
    overflow: hidden;

    transition: height 0.5s;
}

.Post-replies .Post {
    margin: 0;
    border-radius: 0;
}

.Post-replyop {
    background-color: var(--light-grey);
}

.Post-controls {
    display: flex;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.Post-load, .Post-collapse, .Post-gap {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 0;
    background-color: var(--darkest-grey);
    color: white;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Post-delete {
    width: max-content;
    cursor: pointer;
    color: white;
    background-color: var(--lightest-grey);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;

    transition: color 0.1s, background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (hover: hover) {
    .Post-collapse:hover, .Post-load:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }

    .Post-delete:hover {
        color: white;
        background-color: var(--spritan-red);
    }

    .Post-ts:hover {
        cursor: pointer;
        color: white;
    }

    .Post-user:hover {
        cursor: pointer;
        background-color: var(--darkest-grey);
    }

    .Post-user:hover .Post-user-img {
        border-radius: 10px;
        filter: brightness(1.1);
    }
}
