.Post {
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: var(--mid-grey);
    overflow: hidden;
    opacity: 0;

    transition: border-radius 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Post-optag {
    font-size: 0.9em;
    color: var(--spritan-gold);
}

.Post-youtag {
    font-size: 0.9em;
    color: var(--spritan-red);
}

.Post-main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Post-info {
    display: flex;
    align-items: center;
    margin: 10px 8px 0 8px;
    flex-wrap: wrap;
    max-width: 100%;
}

.Post-a {
    max-width: 100%;
    text-decoration: none;
    color: white;
}

.Post-user {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    border-radius: 10px;

    transition: background-color 0.25s;
}
.Post-user:active {
    cursor: pointer;
    background-color: var(--darkest-grey);
}
.Post-user:active .Post-user-img {
    border-radius: 10px;
    filter: brightness(1.1);
}
.Post-replies .Post-user:active {
    cursor: pointer;
    background-color: var(--mid-grey);
}

.Post-user-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;

    transition: filter 0.5s, border-radius 0.25s;
}

.Post-nickname {
    margin: 0 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Post-ts {
    color: var(--info-grey);
    font-size: 0.9em;
    margin: 11px 0 10px 0;

    transition: color 0.1s;
}

.Post-body {
    margin: 5px 10px 10px 10px;
}
.Post-bodyDel {
    font-style: italic;
    color: var(--info-grey);
    font-size: 0.9em;
}

.Post-replies {
    position: relative;
    height: auto;
    overflow: hidden;

    transition: height 0.5s;
}
.Post-repliesCover {
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0), var(--darkest-grey));
    z-index: 1;

    transition: opacity 0.5s, height 0.5s;
}
.Post-collapseCover {
    opacity: 1;
    height: 30px;
}

.Post-replies .Post {
    margin: 0;
    border-radius: 0;
    border-bottom: solid 5px var(--light-grey);
    background-color: var(--darkest-grey);
}

.Post-replies .Post:last-child {
    border-bottom: none;
}

.Post-load {
    position: relative;
    text-align: center;
    padding: 10px 0;
    background-color: var(--light-grey);
    color: white;
    font-size: 0.9em;
    line-height: 20px;
    border-top: solid 5px var(--darkest-grey);

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Post-loadNext {
    border-top: none;
    border-bottom: solid 5px var(--darkest-grey);
}

.Post-actions {
    display: flex;
    justify-content: flex-end;
}

.Post-delete, .Post-action {
    position: relative;
    width: max-content;
    color: white;
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px 10px 5px;
    font-size: 0.9em;
    overflow: hidden;

    transition: color 0.1s, background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Post-copied {
    background-color: green;
}

@media (hover: hover) {
    .Post-action:hover:not(.Post-copied), .Post-load:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }

    .Post-delete:hover {
        cursor: pointer;
        color: white;
        background-color: var(--spritan-red);
    }

    .Post-ts:hover {
        cursor: pointer;
        color: white;
    }

    .Post-user:hover {
        cursor: pointer;
        background-color: var(--darkest-grey);
    }
    .Post-user:hover .Post-user-img {
        border-radius: 10px;
        filter: brightness(1.1);
    }

    .Post-replies .Post-user:hover {
        cursor: pointer;
        background-color: var(--mid-grey);
    }
    .Post-replies .Post-user:hover .Post-user-img {
        border-radius: 10px;
        filter: brightness(1.1);
    }
}
