.Topic {
    width: 1940px;
    margin: 0 auto;
    
    transition: height 0.5s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Topic-link {
    display: flex;
    padding: 0px 10px;
    background-color: var(--light-grey);
    justify-content: center;

    transition: background-color 0.1s, border-radius 0.1s;
}
@media (hover: hover) {
    .Topic-link:hover {
        background-color: var(--lightest-grey);
        cursor: pointer;
    }
}
.Topic-link:active {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) inset;
}
/* .Topic-linkopen {
    
} */

.Topic-img {
    width: 100px;
    height: 100px;
    margin: auto 0;
}

.Topic-info {
    overflow: hidden;
}

.Topic-name {
    color: white;
}

@media screen and (max-width: 1976px) {
    .Topic {
        width: 1620px;
    }
}

@media screen and (max-width: 1656px) {
    .Topic {
        width: 1300px;
    }
}

@media screen and (max-width: 1336px) {
    .Topic {
        width: 980px;
    }
}

@media screen and (max-width: 1016px) {
    .Topic {
        width: 660px;
    }
}

@media screen and (max-width: 716px) {
    .Topic {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}
