.Container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    width: 1942px;
    max-width: 100%;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    background-color: var(--darkest-grey);
    overflow: hidden;
}

.Container-header {
    background-color: var(--darkest-grey);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Container-title {
    color: white;
    margin: 0;
}

@media screen and (max-width: 1960px) {
    .Container {
        width: 1622px;
    }
}

@media screen and (max-width: 1640px) {
    .Container {
        width: 1302px;
    }
}

@media screen and (max-width: 1320px) {
    .Container {
        width: 982px;
    }
}

@media screen and (max-width: 1000px) {
    .Container {
        width: 662px;
    }
}

@media screen and (max-width: 700px) {
    .Container {
        width: 100%;
        border-radius: 0;
    }
}