.TopicPortal {
    flex-grow: 1;
    padding: 0;
    overflow-y: scroll;
    margin: 0;
}

.TopicPortal-posts {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 0;
}

.TopicPortal-posts::after {
    content: "";
    display: block;
    background-color: var(--dark-grey);
    flex: 1;
    margin: 0 0 20px 20px;
    border-radius: 10px;
}

.TopicPortal-controls {
    display: flex;
    margin-bottom: 20px;
    background-color: var(--mid-grey);
    overflow: hidden;
}

.TopicPortal-control-item {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .TopicPortal-control-item:hover {
        background-color: var(--lightest-grey);
    }
}

.TopicPortal-load, .TopicPortal-loaded {
    margin: 0 20px 20px 20px;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    background-color: var(--mid-grey);
    overflow: hidden;
    text-align: center;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .TopicPortal-load:hover {
        cursor: pointer;
        background-color: var(--lightest-grey);
    }
}

.TopicPortal-loaded {
    color: var(--info-grey);
    background-color: transparent;
}

.Subtopic > .TopicPortal, .UserContainer-topics > .TopicPortal {
    overflow: hidden;
}


@media screen and (max-width: 716px) {
    .TopicPortal-posts {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0 0;
    }

    .TopicPortal-load, .TopicPortal-loaded {
        margin: 0 10px 20px 10px;
        width: initial;
    }
}