.TopicPost {
    width: 300px;
    background-color: var(--darkest-grey);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.TopicPortal .TopicPost {
    margin: 0 0 20px 20px;
}

.TopicPost-link {
    display: block;
    background-color: var(--light-grey);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;

    transition: background-color 0.1s;
}
@media (hover: hover) {
    .TopicPost-link:hover {
        background-color: var(--lightest-grey);
        cursor: pointer;
    }
}
.TopicPost-link:active {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) inset;
}

.TopicPost-title {
    color: white;
    margin: 10px 6px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TopicPost-subtitle {
    color: var(--spritan-gold);
    margin: 3px 6px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TopicPost-a {
    display: block;
    max-width: 100%;
    margin: 6px 3px 0 3px;
    text-decoration: none;
}

.TopicPost-user {
    display: flex;
    width: max-content;
    max-width: 100%;
    align-items: center;
    border-radius: 10px;

    transition: background-color 0.1s;
}
.TopicPost-user:active {
    background-color: var(--darkest-grey);
}
.TopicPost-user:active .TopicPost-img {
    border-radius: 10px;
}

.TopicPost-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;

    transition: border-radius 0.25s;
}
@media (hover: hover) {
    .TopicPost-user:hover {
        cursor: pointer;
        background-color: var(--darkest-grey);
    }
    .TopicPost-user:hover .TopicPost-img {
        border-radius: 10px;
    }
}

.TopicPost-nickname {
    margin: 0 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TopicPost-ts {
    margin: 5px 5px 10px 5px;
    font-size: 0.9rem;
    color: var(--info-grey);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: max-content;

    transition: color 0.1s;
}

.TopicPost-thumb {
    width: 100%;
    height: 150px;
    background-position: center;
    background-color: var(--mid-grey);
    background-repeat: no-repeat;
    background-size: 300px;
}
.TopicPost-thumbAni {
    animation-name: submitting;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes loading {
    0% { background-color: var(--spritan-gold); }
    100% { background-color: var(--spritan-red); }
}

@media (hover: hover) {
    .TopicPost-ts:hover {
        color: white;
    }
}

@media screen and (max-width: 716px) {
    .TopicPost {
        margin: 0 0 20px 0;
    }

    .TopicPost-thumb {
        height: 100px;
    }
}