.Navi-full {
    position: relative;
    z-index: 3;
}

.Navi {
    background-color: var(--darkest-grey);
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 10px;
    bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 0 var(--darkest-grey);

    transition: width, height, border-radius, left, bottom, box-shadow;
    transition-duration: 0.25s;
}
.Navi-open {
    width: 600px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 0 0 var(--darkest-grey) !important;
}
.Navi-hide {
    bottom: -90px;
}

.Navi-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;

    transition: left 0.25s, bottom 0.25s;
}
.Navi-toggleOpen {
    left: 10px;
    bottom: 10px;
}
@media (hover: hover) {
    .Navi:hover {
        box-shadow: 0 0 0 10px var(--darkest-grey);
    }

    .Navi-toggle:hover {
        cursor: pointer;
    }
}

.Navi-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Navi-item {
    display: block;
    width: 100%;
    padding: 30px 0;
    color: var(--darkest-grey);
    background-color: var(--darkest-grey);
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;

    transition: color 0.75s, background-color 0.75s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Navi-itemOpen {
    color: white;
    background-color: var(--mid-grey);
}

@media (hover: hover) {
    .Navi-item:hover {
        background-color: var(--lightest-grey);
    }
}

@media screen and (max-width: 600px) {
    .Navi-open {
        width: 100%;
        border-radius: 0;
    }
}


.Navi-backing {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;

    transition: opacity 0.5s;
}
.Navi-backing-open {
    pointer-events: auto;
    opacity: 0.80;
}