.Navi-full {
    position: relative;
    z-index: 3;
}

.Navi {
    background-color: var(--darkest-grey);
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 40px 40px 40px 40px;
    left: 10px;
    bottom: 10px;
    overflow: hidden;

    transition: width 0.25s, height 0.25s, border-radius 0.25s,
        left 0.25s, bottom 0.25s;
}
.Navi-open {
    width: 540px;
    max-width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    left: 0;
    bottom: 0;
}
.Navi-hide {
    bottom: -90px;
}
@media screen and (max-width: 600px) {
    .Navi-open {
        border-radius: 0;
    }
}

.Navi-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 0 10px 0 0;
    overflow: hidden;

    transition: filter 0.5s;
}
@media (hover: hover) {
    .Navi-toggle:hover {
        cursor: pointer;
        filter: brightness(1.15);
    }
}

.Navi-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Navi-item {
    display: block;
    width: 540px;
    max-width: 100%;
    height: 80px;
    background-color: var(--mid-grey);
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;

    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .Navi-item:hover {
        background-color: var(--lightest-grey);
    }
}


.Navi-backing {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;

    transition: opacity 0.5s;
}
.Navi-backing-open {
    pointer-events: auto;
    opacity: 0.75;
}