.UserCard {
    width: 300px;
    background-color: var(--darkest-grey);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.UserCard-avatarContainer, .UserCard-nickname, .UserCard-username {
    text-align: center;
}

.UserCard-avatarContainer {
    position: relative;
    margin-top: 16px;
}
.UserCard-avatar {
    width: 128px;
    height: 128px;
    border-radius: 10px;
}
.UserCard-avatarUnedit {
    animation: avatarUnedit 0.5s;
}
@keyframes avatarUnedit {
    from { border: solid 10px var(--lightest-grey); }
    to { border: solid 0px var(--lightest-grey); }
}

.UserCard-nickname {
    margin-bottom: 0;
    color: white;
}

.UserCard-username {
    color: var(--info-grey);
    margin-top: 0;
    font-size: 18px;
}

.UserCard-textUnedit {
    animation: textUnedit 0.5s;
}
@keyframes textUnedit {
    from {
        border: solid 10px var(--darkest-grey);
        padding: 5px;
    }
    to {
        border: solid 0px var(--darkest-grey);
        padding: 0px;
    }
}

.UserCard-ts {
    color: var(--info-grey);
    font-size: 0.9em;
}

/* @media screen and (max-width: 1256px) {
    .UserCard {
        margin: 0 10px 20px 10px;
    }
} */