.UserContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.UserContainer-container {
    width: 960px;
    max-width: 100%;
    height: 98vh;
    overflow-y: scroll;
}

.UserContainer-topics {
    overflow: hidden;

    transition: height 0.5s;
}

@media screen and (max-width: 1256px) {
    .UserContainer {
        flex-direction: column;
        align-items: center;
    }

    .UserContainer-topics {
        margin-top: 10px;
    }
}