.UserContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: start;
}

.UserContainer-cards {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
}

.UserContainer-postContainer {
    display: flex;
    flex-direction: column;
    width: 1620px;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 20px;
    overflow: clip;
    background-color: var(--darkest-grey);
}

.UserContainer-topics {
    overflow: hidden;

    transition: height 0.5s;
}

.UserContainer-header {
    background-color: var(--darkest-grey);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    position: sticky;
    top: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.1s;
}

.UserContainer-title {
    color: white;
    margin: 0;
}

@media screen and (max-width: 2050px) {
    .UserContainer-postContainer {
        width: 1300px;
    }
}

@media screen and (max-width: 1730px) {
    .UserContainer-postContainer {
        width: 980px;
    }
}

@media screen and (max-width: 1410px) {
    .UserContainer-postContainer {
        width: 660px;
    }
}

@media screen and (max-width: 1090px) {
    .UserContainer {
        flex-direction: column;
        align-items: center;
    }

    .UserContainer-cards {
        position: initial;
    }
}

@media screen and (max-width: 716px) {
    .UserContainer {
        padding: 20px 0 0 0;
    }

    .UserContainer-postContainer {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}

@media (hover: hover) {
    .UserContainer-header:hover {
        background-color: var(--lightest-grey);
    }
}