.UserOptions-option {
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 10px;
    text-align: center;
    color: white;
    
    transition: background-color 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (hover: hover) {
    .UserOptions-option:hover {
        background-color: #565656;
    }
}